*
{

    margin: 0;
    border: 0;
    padding: 0;
}


/*structure of website*/
#header 
{
    background-color: #e9d6f0;
    height: 14vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#body
{
    background-color:#e9d6f0;
    height: 86vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 40% 20% 40%;
    grid-template-columns: 20% 60% 20%;
}





#header a 
{
    font-size: 1.5em;
    font-family: "Benne", serif;;
    text-decoration: none;
    color: #443f5a;

}

/* structure of body */
#top-left-body
{
    grid-area: 1/1;
}
#bottom-left-body
{
    grid-area: 3/1;
}


#center-body
{
    grid-area: 1/2 /span 3/ span 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: .2fr 80% 1fr;
    grid-template-columns: 1fr 80% 1fr;

}
#center-body-frame
{

    grid-area: 2/2;
    background-image: url("../images/Picture_frame.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 90% 1fr;
    grid-template-columns: 1fr 90% 1fr;
    z-index: 1;
    
    
}
#center-body-image
{
    grid-area: 2/2;
    background-image: url("../images/dynamic_background/khian_1.jpg");
    background-size: 100% 100%;
    height: 95%;
    width: 95%;
    display: grid;
    margin: 2.5% 2.5%;
    grid-template-rows: 1fr 100% 1fr;
    grid-template-columns: 1fr 100% 1fr;
    z-index: 0;
    animation: change 10s 5s infinite ease-in-out;
}
#center-body-overlay
{
    grid-area: 2/2;
    background-color: hsla(284, 46%, 89%,0.55);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}
#center-body-overlay img
{ 
    height: 30%;
    width: 60%;

}
#center-body-buttons
{
    grid-area: 3/2;
    display: flex;
    justify-content: space-around;          
    align-content: flex-start;
}  



#center-body-stopwatch
{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
#center-body-stopwatch-text
{

    display: flex; 
    justify-content: space-around;
    width: 70%;
}

/* Location functions */



#top-right-body
{
    grid-area: 1/3;
}
#bottom-right-body
{
    grid-area: 3/3;
}



/* Grouped Designs */
.logo_picture
{
    height: 55px;
    width: 55px;
    padding: 0px 0 0 0;
    background-color: #e9d6f0;

}
.logo_size
{
    height: 100%;
    width: 100%;
    background-color: #443f5a;
    border-radius: 30px;
}
.logo_structure
{
    font-size: 0em;
    background-color: #e9d6f0;
    font-family: "Benne", serif;
}


.body-content-image-upper
{
    height: 100%;
    width: 100%;
}

.body-content-image-lower
{
    height: 97.5%;
    width: 100%;
}

.center-body-bennet
{
    font-family: "Benne", serif;
    font-size: 1.75em;
    text-align: center;
    width: 100%;
    color: #443f5a;
}

.center-body-cursive
{
    font-family: 'Carattere', cursive;
    font-size: 6em;
    text-align: center;
    padding: 3% 0 0 0;
    color: #443f5a;

}

.center-body-time
{
    font-size: 3em;
    font-family:'Carattere', cursive;
    text-align: center;
    border: #443f5a solid 4px;
    width: 14%;
    border-radius: 18px;
    padding: 0% 1% 0 0;
}
.center-body-time-name
{
    font-size: 1.25em;
    font-family:'Carattere', cursive;
    text-align: center;
    padding: 0 0 0 2.5%;

}

.contained_buttons
{
    height: 50px;
    width: 100%;
    align-items: flex-start;
    background-color: #443f5a;
    color: #e9d6f0;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: "Benne", serif;
    padding: 0 20px 0 20px;
}


/* Actions */
.logo_structure:hover .logo_size
{    
    height: 85%;
    width: 85%;
    background-color: #837ca3;
    border-radius: 30px;
}

.logo_structure:hover
{    
    font-size: 0.6em;
}

.contained_buttons:hover
{
    background-color: #837ca3;
    height: 60px;
    font-size: 1.7em;
}





/* Animations */
@keyframes change {
    0%
    {
        background-image: url("../images/dynamic_background/khian_1.jpg");
    }
    50%
    {
        background-image: url("../images/dynamic_background/khian_2.jpg");
    }
    100%
    {
        background-image: url("../images/dynamic_background/khian_1.jpg");
    }
}

/* Responsiveness */
@media(max-width: 1200px){
    .center-body-time
    {
        font-size: 4.5em;
    }
    .center-body-time-name
    {
        font-size: 1.75em;
    }
}

@media(max-width: 1070px){

    #body
    {
        grid-template-rows: 30% 40% 30%;
        grid-template-columns: 10% 80% 10%;
    }
    .center-body-cursive
    {
        font-size: 5em;
    }
    .center-body-bennet
    {
        font-size: 1.5em;
    }
    .center-body-time
    {
        font-size: 4.0em;
    }
    .center-body-time-name
    {
        font-size: 1.5em;
    }
} 


@media (max-width: 928px) {
    #body
    {
        grid-template-rows: 25% 50% 25%;
    }

    #body
    {

        grid-template-columns: 10% 80% 10%;
    }
    .center-body-cursive
    {
        font-size: 5.5em;
    }
    .center-body-bennet
    {
        font-size: 1.25em;
    }
    .center-body-time
    {
        font-size: 3em;
    }
    .center-body-time-name
    {
        font-size: 1em;
    }
    #center-body-image
    {
        margin: 5% 2% 2% 2%;
    }
    #center-body-overlay img
    {
        margin: 0 0 0 10%;   
        height: 20%;
        width: 80%;
    
    }
}

@media (max-width: 700px) {
    #body
    {
        grid-template-rows: 20% 60% 20%;
    }
    .center-body-cursive
    {
        font-size: 5em;
    }
    .center-body-bennet
    {
        font-size: 1em;
    }
    .center-body-time
    {
        font-size: 2.5em;
    }
    .center-body-time-name
    {
        font-size: 1em;
    }
    #center-body-overlay img
    {
        margin: 0 0 0 10%;   
        height: 20%;
        width: 80%;
    
    }
}


@media (max-width: 500px) {
    #body
    {
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 18% 64% 18%;
    }
    .center-body-cursive
    {
        font-size: 4em;
    }
    .center-body-bennet
    {
        font-size: .75em;
    }
    .center-body-time
    {
        font-size: 2.5em;
    }
    .center-body-time-name
    {
        font-size: 1em;
    }
    .center-body-time
    {
        font-size: 1em;
        border-radius: 10px;
    }
}
