*
{

    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}


/*structure of website*/
#header 
{
    background-color: #e9d6f0;
    height: 14vh;
    width: 100dvw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#body
{
    background-color: #e9d6f0;
    width: 100dvw;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* structure of header  */
#header a 
{
    font-size: 1.5em;
    font-family: "Benne", serif;;
    text-decoration: none;
    color: #443f5a;

}

/* structure of body */
#body-top-design-left
{
    background-image: url(../images/K&J_main_page_design_left.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 50%;   
    z-index: 1;
}

#body-top-design-center
{
    width: 80%;
    height: 10%;   

}
#body-top-design-right
{
    background-image: url(../images/K&J_main_page_design_right.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 50%;   
    z-index: 1;  
}

#body-content-layer
{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

#center-body-image
{
    background-image: url("../images/dynamic_background/khian_1.jpg");
    background-repeat: no-repeat;
    background-position: 40% 0%;
    background-size: cover;
    height: 70%;
    width: 50%;
    display: flex;
    animation: change 10s 5s infinite ease-in-out;
}
#center-body-overlay
{
    background-color: hsla(284, 46%, 89%,0.55);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

#center-body-buttons
{
    grid-area: 3/2;
    display: flex;
    justify-content: space-around;          
    align-content: flex-start;
}  

#center-body-stopwatch
{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
#center-body-stopwatch-text
{

    display: flex; 
    justify-content: space-around;
    width: 70%;
}
#center-body-buttons
{
    display: flex;
    justify-content: space-around;          
    align-content: flex-start;
    width: 30%;
    margin: 1% 0 0 0;
}  

/* Grouped Designs */

/* Header */
.logo_picture
{
    height: 55px;
    width: 55px;
    padding: 0 0 0 0;
    background-color: #e9d6f0;

}
.logo_size
{
    height: 100%;
    width: 100%;
    background-color: #443f5a;
    border-radius: 30px;
}
.logo_structure
{
    font-size: 0em;
    background-color: #e9d6f0;
    font-family: "Benne", serif;
}




/* Body */
.center-body-bennet
{
    font-family: "Benne", serif;
    font-size: 1.55em;
    text-align: center;
    width: 100%;
    color: #443f5a;
}

.center-body-cursive
{
    font-family: 'Carattere', cursive;
    font-size: 8em;
    text-align: center;
    padding: 10% 0 3% 0;
    width: 100%;
    color: #443f5a;
    
}

.center-body-time
{
    font-size: 3.5em;
    font-family:'Carattere', cursive;
    text-align: center;
    border: #443f5a solid 4px;
    width: 14%;
    border-radius: 18px;
    padding: 0% 1% 0 0;
}
.center-body-time-name
{
    font-size: 2em;
    font-family:'Carattere', cursive;
    text-align: center;
    padding: 0 0 0 2.5%;

}

.contained_buttons
{
    height: 50px;
    width: 100%;
    background-color: #443f5a;
    color: #e9d6f0;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: "Benne", serif;
    padding: 0 20px 0 20px;
}


/* Actions */

/* Header */
.logo_structure:hover .logo_size
{    
    height: 85%;
    width: 85%;
    background-color: #837ca3;
    border-radius: 30px;
}

.logo_structure:hover
{    
    font-size: 0.6em;
}

/* Body */
.contained_buttons:hover
{
    background-color: #837ca3;
    height: 60px;
    font-size: 1.7em;
}





/* Animations */

/* Body  */
@keyframes change {
    0%
    {
        background-image: url("../images/dynamic_background/khian_1.jpg");
    }
    50%
    {
        background-image: url("../images/dynamic_background/khian_2.jpg");
    }
    100%
    {
        background-image: url("../images/dynamic_background/khian_1.jpg");
    }
}

/* Responsiveness */

/* Width */
@media (max-width: 1300px ) {

    /* Grouped Designs */
    
    /* Body */
    .center-body-bennet
    {   
        font-size: 1.4em;
    }
    
    .center-body-cursive
    {
        font-size: 6em;
        
    }
    
    .center-body-time
    {
        font-size: 3em;
    }
    .center-body-time-name
    {
        font-size: 1.7em;
    }    
}

@media (max-width: 850px) {
    #body-content-layer
    {
        padding: 5% 0 0 0;
    }
    #center-body-image
    {
        height: 70%;
        width: 90%;
    }

    #center-body-overlay img
    {
        width: 90%;
        height: 30%;
    }
    #body-top-design-left
    {
        width: 70%;
        height: 70%;   
    }
    
    #body-top-design-center
    {
        width: 60%;
        height: 10%;   
        
    }
    #body-top-design-right
    {
        width: 70%;
        height: 70%;   
    }
    
    #center-body-buttons
    {
        width: 40%;
    }

    .center-body-bennet
    {   
        font-size: 1.2em;
    }
    
    .center-body-cursive
    {
        font-size: 5.5em;
        
    }
    
    .center-body-time
    {
        font-size: 2.5em;
    }
    .center-body-time-name
    {
        font-size: 1.2em;
    }    
    
}


@media (max-width: 500px) {
    #body-top-design-left
    {
        width: 80%;
        height: 80%;   
    }
    
    #body-top-design-center
    {
        width: 20%;
        height: 10%;   
    
    }
    #body-top-design-right
    {
        width: 80%;
        height: 80%;   
    }
    
    #center-body-buttons
    {
        width: 60%;
    }
    .center-body-bennet
    {   
        font-size: .8em;
        width: 80%;
    }
    
    .center-body-cursive
    {
        font-size: 5em;
        padding: 15% 5% 0 0;
        width: 90%;
        
    }
    
    .center-body-time
    {
        font-size: 2em;
    }
    .center-body-time-name
    {
        font-size: 1.5em;
    }    
}


/* Height */

@media (max-height: 670px) {
    #center-body-overlay img
    {
        width: 70%;
        height: 20%;
    }
   
    .center-body-bennet
    {   
        font-size: .8em;
    }
    
    .center-body-cursive
    {
        font-size: 5em;
        padding: 10% 0 0 0;
        
    }


}