*
{

    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}


/*structure of website*/
#header 
{
    background-color: #e9d6f0;
    height: 14vh;
    width: 100dvw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#body
{
    background-color: #e9d6f0;
    width: 100dvw;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* structure of header  */
#header a 
{
    font-size: 1.5em;
    font-family: "Benne", serif;;
    text-decoration: none;
    color: #443f5a;

}

/* structure of body */
#body-top-design-left
{
    background-image: url(../images/K&J_main_page_design_left.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 50%;   
    z-index: 1;
}

#body-top-design-center
{
    width: 80%;
    height: 10%;   

}
#body-top-design-right
{
    background-image: url(../images/K&J_main_page_design_right.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 50%;   
    z-index: 1;  
}

#body-content-layer
{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

#center-body-image
{
    background-image: url("../images/dynamic_background/DON_2580.webp");
    background-position: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
    width: 50%;
    display: flex;
    -webkit-animation: 500s change linear 0s infinite;
    -moz-animation: 500s change linear 0s infinite;
    -o-animation: 500s change linear 0s infinite;
    animation: 500s change linear 0s infinite;
    transform: translate3d(0,0,0);
}
#center-body-overlay
{
    background-color: hsla(284, 46%, 89%,0.75);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

#center-body-buttons
{
    grid-area: 3/2;
    display: flex;
    justify-content: space-around;          
    align-content: flex-start;
}  

#center-body-stopwatch
{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 70%;
    height: 30%;
}
#center-body-stopwatch-text
{

    display: flex; 
    justify-content: space-around;
    width: 70%;
}
#center-body-buttons
{
    display: flex;
    justify-content: space-around;          
    align-content: flex-start;
    width: 30%;
    margin: 1% 0 0 0;
}  

/* Grouped Designs */

/* Header */
.logo_picture
{
    height: 55px;
    width: 55px;
    padding: 0 0 0 0;
    background-color: #e9d6f0;

}
.logo_size
{
    height: 100%;
    width: 100%;
    background-color: #443f5a;
    border-radius: 30px;
}
.logo_structure
{
    font-size: 0em;
    background-color: #e9d6f0;
    font-family: "Benne", serif;
}




/* Body */
.center-body-bennet
{
    font-family: "Benne", serif;
    font-size: 1.55em;
    text-align: center;
    width: 100%;
    color: #443f5a;
}

.center-body-cursive
{
    font-family: 'Carattere', cursive;
    font-size: 6em;
    text-align: center;
    padding: 10% 0% 0% 0%;
    width: 90%;
    color: #443f5a;
    
}

.center-body-time
{
    font-size: 4em;
    font-family: "Sigmar One", serif; 
    text-align: center;
    border: #443f5a solid 4px;
    width: 20%;
    border-radius: 18px;
    padding: 0% 0% 0% 0;
}
.center-body-time-name
{
    font-size: 2em;
    font-family:'Carattere', cursive;
    text-align: center;
    padding: 0 0 0 2.5%;

}

.contained_buttons
{
    height: 50px;
    width: 100%;
    background-color: #443f5a;
    color: #e9d6f0;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: "Benne", serif;
    padding: 0 20px 0 20px;
}


/* Actions */

/* Header */
.logo_structure:hover .logo_size
{    
    height: 85%;
    width: 85%;
    background-color: #837ca3;
    border-radius: 30px;
}

.logo_structure:hover
{    
    font-size: 0.6em;
}

/* Body */
.contained_buttons:hover
{
    background-color: #837ca3;
    height: 60px;
    font-size: 1.7em;
}





/* Animations */
@keyframes change {
    0%
    {
        background-image: url("../images/dynamic_background/DON_2573.webp");
        background-position: 70%;
    }
    10%
    {
        background-image: url("../images/dynamic_background/DON_2647.webp");
        background-position: 80%;
    }
    20%
    {
        background-image: url("../images/dynamic_background/DON_2695.webp");
        background-position: 40%;
    }
    30%
    {
        background-image: url("../images/dynamic_background/DON_2837.webp");
        background-position: 70%;
    }
    40%
    {
        background-image: url("../images/dynamic_background/DON_2911.webp");
        background-position: 70%;
    }
    50%
    {
        background-image: url("../images/dynamic_background/DON_2920.webp");
        background-position: 40%;
    }
    60%
    {
        background-image: url("../images/dynamic_background/DON_2937.webp");
        background-position: 50%;
    }
    70%
    {
        background-image: url("../images/dynamic_background/DON_2984.webp");
        background-position: 50%;
    }
    80%
    {
        background-image: url("../images/dynamic_background/DON_2873.webp");
        background-position: 70%;
    }
    90%
    {
        background-image: url("../images/dynamic_background/DON_2724.webp");
        background-position: 50%;
    }
    100%
    {
        background-image: url("../images/dynamic_background/DON_2573.webp");
        background-position: 70%;
    }
}	
/*  Website compatibility */
@-o-keyframes change
    {
    0%
    {
        background-image: url("../images/dynamic_background/DON_2573.webp");
        background-position: 70%;
    }
    10%
    {
        background-image: url("../images/dynamic_background/DON_2647.webp");
        background-position: 80%;
    }
    20%
    {
        background-image: url("../images/dynamic_background/DON_2695.webp");
        background-position: 40%;
    }
    30%
    {
        background-image: url("../images/dynamic_background/DON_2837.webp");
        background-position: 70%;
    }
    40%
    {
        background-image: url("../images/dynamic_background/DON_2911.webp");
        background-position: 70%;
    }
    50%
    {
        background-image: url("../images/dynamic_background/DON_2920.webp");
        background-position: 40%;
    }
    60%
    {
        background-image: url("../images/dynamic_background/DON_2937.webp");
        background-position: 50%;
    }
    70%
    {
        background-image: url("../images/dynamic_background/DON_2984.webp");
        background-position: 50%;
    }
    80%
    {
        background-image: url("../images/dynamic_background/DON_2873.webp");
        background-position: 70%;
    }
    90%
    {
        background-image: url("../images/dynamic_background/DON_2724.webp");
        background-position: 50%;
    }
    100%
    {
        background-image: url("../images/dynamic_background/DON_2573.webp");
        background-position: 70%;
    }
    }
@-moz-keyframes change
{
    0%
    {
        background-image: url("../images/dynamic_background/DON_2573.webp");
        background-position: 70%;
    }
    10%
    {
        background-image: url("../images/dynamic_background/DON_2647.webp");
        background-position: 80%;
    }
    20%
    {
        background-image: url("../images/dynamic_background/DON_2695.webp");
        background-position: 40%;
    }
    30%
    {
        background-image: url("../images/dynamic_background/DON_2837.webp");
        background-position: 70%;
    }
    40%
    {
        background-image: url("../images/dynamic_background/DON_2911.webp");
        background-position: 70%;
    }
    50%
    {
        background-image: url("../images/dynamic_background/DON_2920.webp");
        background-position: 40%;
    }
    60%
    {
        background-image: url("../images/dynamic_background/DON_2937.webp");
        background-position: 50%;
    }
    70%
    {
        background-image: url("../images/dynamic_background/DON_2984.webp");
        background-position: 50%;
    }
    80%
    {
        background-image: url("../images/dynamic_background/DON_2873.webp");
        background-position: 70%;
    }
    90%
    {
        background-image: url("../images/dynamic_background/DON_2724.webp");
        background-position: 50%;
    }
    100%
    {
        background-image: url("../images/dynamic_background/DON_2573.webp");
        background-position: 70%;
    }
}
@-webkit-keyframes change
{
    0%
    {
        background-image: url("../images/dynamic_background/DON_2573.webp");
        background-position: 70%;
    }
    10%
    {
        background-image: url("../images/dynamic_background/DON_2647.webp");
        background-position: 80%;
    }
    20%
    {
        background-image: url("../images/dynamic_background/DON_2695.webp");
        background-position: 40%;
    }
    30%
    {
        background-image: url("../images/dynamic_background/DON_2837.webp");
        background-position: 70%;
    }
    40%
    {
        background-image: url("../images/dynamic_background/DON_2911.webp");
        background-position: 70%;
    }
    50%
    {
        background-image: url("../images/dynamic_background/DON_2920.webp");
        background-position: 40%;
    }
    60%
    {
        background-image: url("../images/dynamic_background/DON_2937.webp");
        background-position: 50%;
    }
    70%
    {
        background-image: url("../images/dynamic_background/DON_2984.webp");
        background-position: 50%;
    }
    80%
    {
        background-image: url("../images/dynamic_background/DON_2873.webp");
        background-position: 70%;
    }
    90%
    {
        background-image: url("../images/dynamic_background/DON_2724.webp");
        background-position: 50%;
    }
    100%
    {
        background-image: url("../images/dynamic_background/DON_2573.webp");
        background-position: 70%;
    }
}
/* Body  */


/* Responsiveness */

/* Width */
@media (max-width: 1024px) {

    .center-body-cursive
    {
        font-size: 5em;

        
    }
    
    .center-body-time
    {
        font-size: 4em;

        padding: 0% 0% 0% 0;
    }
    .center-body-time-name
    {
        font-size: 2em;

    
    }
    

}


@media (max-width: 850px) {
    #body-content-layer
    {
        padding: 5% 0 0 0;
    }
    #center-body-image
    {
        height: 70%;
        width: 90%;
    }

    #body-top-design-left
    {
        width: 70%;
        height: 70%;   
    }
    
    #body-top-design-center
    {
        width: 60%;
        height: 10%;   
        
    }
    #body-top-design-right
    {
        width: 70%;
        height: 70%;   
    }
    #center-body-stopwatch
    {
        width: 90%;
        height: 20%;
    }
    #center-body-stopwatch-text
    {
    
        width: 90%;
    }
    
    #center-body-buttons
    {
        width: 40%;
    }

    .center-body-bennet
    {   
        font-size: 1.2em;
    }
    
    .center-body-cursive
    {
        font-size: 5em;
        
    }
    
    .center-body-time
    {
        font-size: 3.5em;
    }
    .center-body-time-name
    {
        font-size: 2em;
        padding: 0 0 2% 0;
    }    
    
}


@media (max-width: 500px) 
{
    #center-body-overlay img
    {
        height: 30%;
        width: 90%;
    }
    #body-top-design-left
    {
        width: 80%;
        height: 80%;   
    }
    
    #body-top-design-center
    {
        width: 20%;
        height: 10%;   
    
    }
    #body-top-design-right
    {
        width: 80%;
        height: 80%;   
    }

    #center-body-buttons
    {
        width: 60%;
    }
    
    
    .center-body-cursive
    {
        font-size: 4em;
        padding: 10% 0% 0% 0;
        width: 70%;
    }
    
    .center-body-time
    {
        font-size: 3em;
    }
    .center-body-time-name
    {
        font-size: 1.5em;
    }    
}


/* Height */

@media (max-height: 670px) 
{
    .center-body-bennet
    {   
        font-size: .8em;
        width: 95%;
        padding: 7% 0 0 0;
    }
}

@media (max-height: 620px) {
    #center-body-image
    {
        height: 65%;
    }

    #center-body-overlay img
    {
        height: 45%;
    }
    
    .center-body-cursive
    {
        font-size: 3em;
        padding: 15% 0 0 0;
        
    }

    .contained_buttons
    {
        height: 40px;
        width: 100%;
        border-radius: 10px;
        font-size: 1em;
    }


    .contained_buttons:hover
    {
        background-color: #837ca3;
        height: 45px;
        font-size: 1.5em;
    }


}