*
{

    margin: 0;
    border: 0;
    padding: 0;
    background-color: #e9d6f0;
}



/*structure of website*/
#header 
{
    overflow: auto;
    background-color: #e9d6f0;
    height: 14vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#body
{
    background-color: #e9d6f0;
    width: 100vw;
    height: 86vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 80% 20%;
}





/* structure of the header */
#header a 
{
    font-size: 1.5em;
    font-family: "Benne", serif;;
    text-decoration: none;
    color: #443f5a;

}

/* structure of body */


#body-attire-content
{

    grid-area: 1/1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0 10%;
}

#attire-logo
{
    height: 300px;
    width: 300px
}


#body-attire-design
{
    grid-area: 1/2;
    justify-content: flex-start;
    align-items: center;
}


#body-attire-design img
{
    width: 100%;
    height: 100%;
}

#body-attire-bottom
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 25%;
}

#couple_image
{
    height: 100%;
    width: 25%;
}

#color_image
{
    align-self: flex-end;
    height: 70%;
    width: 70%;
}



/* Grouped Designs */
.logo_picture
{
    height: 55px;
    width: 55px;
    padding: 20px 0 0 0;
    background-color: #e9d6f0;

}
.logo_size
{
    height: 100%;
    width: 100%;
    background-color: #443f5a;
    border-radius: 30px;
}
.logo_structure
{
    font-size: 0em;
    background-color: #e9d6f0;
    font-family: "Benne", serif;
}

.center-body-bennet
{
    font-family: "Benne", serif;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    color: #443f5a;
}






/* Actions */
.logo_structure:hover .logo_size
{    
    height: 85%;
    width: 85%;
    background-color: #837ca3;
    border-radius: 30px;
}

.logo_structure:hover
{    
    font-size: 0.6em;
}


/* Responsiveness */
@media(max-width: 500px){

    #body
    {
        grid-template-columns: 70% 30%;
        height: 100%;
    }
    
    #attire-logo
    {
        height: 200px;
        width: 200px
    }
    #body-attire-bottom
    {
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    #couple_image
    {
        height: 100%;
        width: 100%;
    }
    
    #color_image
    {
        height: 100%;
        width: 100%
    }
    
    .center-body-bennet
    {
        font-size: .9em;
    }
    
    
} 
