*
{

    margin: 0;
    border: 0;
    padding: 0;

}


/*structure of website*/
#header 
{
    background-color: #e9d6f0;
    height: 14vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#body
{
    background-color: #e9d6f0;
    width: 100dvw;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#body-top-design-left
{
    background-image: url(../images/K&J_main_page_design_left.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 50%;   
    z-index: 1;
}

#body-top-design-center
{
    width: 80%;
    height: 10%;   

}
#body-top-design-right
{
    background-image: url(../images/K&J_main_page_design_right.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 50%;   
    z-index: 1;  
}

#body-content-layer
{

    height: 80%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}




/* structure of the header */
#header a 
{
    font-size: 1.5em;
    font-family: "Benne", serif;;
    text-decoration: none;
    color: #443f5a;

}





/* structure of body */
#picture_1_area
{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    padding: 5% 0 0 0;
    
}
#picture_2_area
{
    width: 46%;
    height: 81%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    padding: 5% 0 0 0;

}



/* Grouped Designs */
.logo_picture
{
    height: 55px;
    width: 55px;
    padding: 0 0 0 0;
    background-color: #e9d6f0;

}
.logo_size
{
    height: 100%;
    width: 100;
    background-color: #443f5a;
    border-radius: 30px;
}
.logo_structure
{
    font-size: 0em;
    background-color: #e9d6f0;
    color: black;
    font-family: "Benne", serif;
}


/* Body  */
.img 
{
    width: 70%;
}

.center-body-bennet
{
    font-family: "Benne", serif;
    font-size: 1.5em;
    text-align: center;
    color: #443f5a;

}
.center-body-bennet_small
{
    font-family: "Benne", serif;
    font-size: 1.25em;
    text-align: center;
    color: #443f5a;

}

.button_loc 
{
    height: 50px;
    width: 100%;
    background-color: #443f5a;
    color: #e9d6f0;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: "Benne", serif;
    padding: 0 20px 0 20px;
}
    



/* Actions */
.logo_structure:hover .logo_size
{    
    height: 85%;
    width: 85%;
    background-color: #837ca3;
    border-radius: 30px;
}

.logo_structure:hover
{    
    font-size: 0.6em;
}

.button_loc:hover
{
    background-color: #837ca3;
    height: 60px;
}

.button_loc:hover .button_text
{
    font-size: 1.7em;
}




/* Actions */

@media(max-width: 800px)
{
    body
    {
        background-color: #e9d6f0   ;
    }
    #body-top-design-left
    {
        width: 40%;
        height: 40%;   
    }
    
    #body-top-design-center
    {
        width: 60%;
        height: 10%;   
        
    }
    #body-top-design-right
    {
        width: 40%;
        height: 40%;   
    }
    #body
    {
        background-color: #e9d6f0;
        height: 100DVH;
    }
    #body-content-layer
    {
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    #picture_1_area
    {
        width: 80%;
        height: 80%;
        padding: 35% 0 0 0;

        
    }
    #picture_2_area
    {
        width: 80%;
        height: 80%;
        padding: 0 0 5%  0;

    }



} 



@media (max-width: 500px) {
    body
    {
        background-color: #e9d6f0   ;
    }

    #picture_1_area
    {
        width: 100%;
        height: 100%;
        padding: 10% 0 0 0;

        
    }
    #picture_2_area
    {
        width: 100%;
        height: 100%;
        padding: 0 0 5%  0;

    }

}
